@model IEnumerable<DoAnHMS.Models.Phong>

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <title>HOANG GIA HOTELS</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Resort Inn Responsive , Smartphone Compatible web template , Samsung, LG, Sony Ericsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="~/Assets/Client/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Assets/Client/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Assets/Client/css/chocolat.css" type="text/css" media="screen">
    <link href="~/Assets/Client/css/easy-responsive-tabs.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="~/Assets/Client/css/flexslider.css" type="text/css" media="screen" property="" />
    <link rel="stylesheet" href="~/Assets/Client/css/jquery-ui.css" />
    <link href="~/Assets/Client/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="~/Assets/Client/js/modernizr-2.6.2.min.js"></script>
    <!--fonts-->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Noto+Sans:400,700" rel="stylesheet">
    <!--//fonts-->

</head>
<body>
    <!-- header -->
    <div class="banner-top">
        <div class="social-bnr-agileits">
            <ul class="social-icons3">
                <li><a href="https://www.facebook.com/" class="fa fa-facebook icon-border facebook"> </a></li>
                <li><a href="https://twitter.com/" class="fa fa-twitter icon-border twitter"> </a></li>
                <li><a href="#" class="fa fa-google-plus icon-border googleplus"> </a></li>
            </ul>
        </div>
        <div class="contact-bnr-w3-agile">
            <ul>
                @*<li><a href="@Url.Action("Index","Login")">Đăng nhập</a></li>*@
                <li><i class="fa fa-envelope" aria-hidden="true"></i>hoangabc000@gmail.com</li>
                <li><i class="fa fa-phone" aria-hidden="true"></i>0366201726</li>
                <!--<li class="s-bar">
                    <div class="search">
                        <input class="search_box" type="checkbox" id="search_box">
                        <label class="icon-search" for="search_box"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></label>
                        <div class="search_form">
                            <form action="#" method="post">
                                <input type="search" name="Search" placeholder=" " required=" " />
                                <input type="submit" value="Search">
                            </form>
                        </div>
                    </div>
                </li>-->
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="" style="background-color:black">
        <div class="container">
            <nav class="navbar navbar-default" >
                <div class="container-fluid">
                    <div class="navbar-header ">
                        <a class="navbar-brand h7" style="padding-top:7px;width:100%;text-align:left;position:absolute;margin-left:-80px;font-size:24px" href="#">HOANG GIA HOTELS</a>
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                        <nav class="menu menu--iris">
                            <ul class="nav navbar-nav navbar-nav menu__list">
                                <li style="padding-bottom: 7px" class="menu__item nav-item menu__item--current"><a href="" class="menu__link">Trang chủ</a></li>
                                <li style="padding-bottom: 7px" class="menu__item nav-item"><a href="#about" class="menu__link scroll">Giới thiệu</a></li>
                                <li style="padding-bottom: 7px" class="menu__item nav-item"><a href="#rooms" class="menu__link scroll">Phòng</a></li>
                                <li style="padding-bottom: 7px" class="menu__item nav-item"><a href="#contact" class="menu__link scroll">Liên hệ</a></li>
                                <li style="padding-bottom: 7px" class="menu__item nav-item"><a href="@Url.Action("PhanHoi", "Hotel")" class="menu__link">Phản hồi</a></li>
                                <li style="padding-bottom: 7px" class="menu__item nav-item"><a href="#contact" class="menu__link scroll">Đặt phòng</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- //header -->
    <!-- banner -->
    <div id="home" class="w3ls-banner">
        <!-- banner-text -->
        <div class="slider">
            <div class="callbacks_container">
                <ul class="rslides callbacks callbacks1" id="slider4">
                    <!--<li>
                        <div class="w3layouts-banner-top">

                            <div class="container">
                                <div class="agileits-banner-info">
                                    <h4>HOANG GIA HOTELS </h4>
                                    <h3>Chúng tôi biết sở thích của bạn</h3>
                                    <p>Chào mừng đến với khách sạn của chúng tôi</p>
                                    <div class="agileits_w3layouts_more menu__item">-->
                                        @*<a href="#" class="menu__link" data-toggle="modal" data-target="#myModal">Đọc thêm</a>*@

                                    <!--</div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="w3layouts-banner-top w3layouts-banner-top1">
                            <div class="container">
                                <div class="agileits-banner-info">
                                    <h4>HOANG GIA HOTELS</h4>
                                    <h3>Ở với bạn bè và gia đình</h3>
                                    <p>Hãy đến và tận hưởng khoảnh khắc quý giá với chúng tôi</p>
                                    <div class="agileits_w3layouts_more menu__item">-->
                                        @*<a href="#" class="menu__link" data-toggle="modal" data-target="#myModal">Đọc thêm</a>*@
                                    <!--</div>
                                </div>
                            </div>
                        </div>
                    </li>-->
                    <li>
                        <div class="w3layouts-banner-top w3layouts-banner-top2">
                            <div class="container">
                                <div class="agileits-banner-info">
                                    <h4 style="letter-spacing:5px">HOANG GIA HOTELS</h4>
                                    <h3 style="letter-spacing:5px">Bạn muốn kỳ nghỉ sang trọng?</h3>
                                    <p style="letter-spacing:5px">Nhận chỗ ở ngay hôm nay</p>
                                    <div class="agileits_w3layouts_more menu__item">
                                        @*<a href="#" class="menu__link" data-toggle="modal" data-target="#myModal">Đọc thêm</a>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="clearfix"> </div>
            <!--banner Slider starts Here-->
        </div>
        <div class="thim-click-to-bottom">
            <a href="#about" class="scroll">
                <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <!-- //banner -->
    <!--//Header-->
    <!-- //Modal1 -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
        <!-- Modal1 -->
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>SUN  <span>RISE</span></h4>
                    <img src="~/Assets/Client/images/1.jpg" alt=" " class="img-responsive">
                    <h5>Chúng tôi biết sở thích của bạn</h5>
                    <p>Mang đến cho du khách tầm nhìn độc đáo và mê hoặc từ phòng nghỉ của họ với những tiện nghi đặc biệt, làm cho Star Hotel trở thành một trong những khách sạn tốt nhất cùng loại. Hãy thử thực đơn món ăn của chúng tôi, dịch vụ tuyệt vời và đội ngũ nhân viên thân thiện khi bạn ở đây..</p>
                </div>
            </div>
        </div>
    </div>
    <!-- //Modal1 -->
    <div id="availability-agileits">
        @*<div class="col-md-12 book-form-left-w3layouts">
            <a href="#contact" class="scroll"><h2>ĐẶT PHÒNG</h2></a>
        </div>*@

        <div class="clearfix"> </div>
    </div>
    <!-- banner-bottom -->
    <div class="banner-bottom">
        <div class="container">
            <div class="agileits_banner_bottom">
                <h3><span>TRẢI NGHIỆM MỘT LƯU TRÚ TỐT, HƯỞNG CÁC ƯU ĐÃI TUYỆT VỜI</span> TÌM KIẾM NHẬN CHÀO MỪNG THÂN THIỆN CỦA CHÚNG TÔI</h3>
            </div>
            <div class="w3ls_banner_bottom_grids">
                <ul class="cbp-ig-grid">
                    <li>
                        <div class="w3_grid_effect">
                            <span class="cbp-ig-icon w3_road"></span>
                            <h4 class="cbp-ig-title">PHÒNG NGỦ CHÍNH HÃNG</h4>
                            <span class="cbp-ig-category">HOANG GIA HOTELS</span>
                        </div>
                    </li>
                    <li>
                        <div class="w3_grid_effect">
                            <span class="cbp-ig-icon w3_cube"></span>
                            <h4 class="cbp-ig-title">BAN CÔNG NHÌN RA BIỂN</h4>
                            <span class="cbp-ig-category">HOANG GIA HOTELS</span>
                        </div>
                    </li>
                    <li>
                        <div class="w3_grid_effect">
                            <span class="cbp-ig-icon w3_users"></span>
                            <h4 class="cbp-ig-title">QUÁN CAFE VỚI KHÔNG GIAN LỚN</h4>
                            <span class="cbp-ig-category">HOANG GIA HOTELS</span>
                        </div>
                    </li>
                    <li>
                        <div class="w3_grid_effect">
                            <span class="cbp-ig-icon w3_ticket"></span>
                            <h4 class="cbp-ig-title">PHỦ SÓNG WIFI VỚI TỐC ĐỘ CAO</h4>
                            <span class="cbp-ig-category">HOANG GIA HOTELS</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- //banner-bottom -->
    <!-- /about -->
    <div class="about-wthree" id="about">
        <div class="container">
            <div class="ab-w3l-spa">
                <h3 class="title-w3-agileits title-black-wthree">GIỚI THIỆU VỀ CHÚNG TÔI</h3>
                <p class="about-para-w3ls">Là một trong những khách sạn sang trọng và gần biển có view đẹp.</p>
                <img src="~/Assets/Client/images/about.jpg" class="img-responsive" alt="Hair Salon">
                <div class="w3l-slider-img">
                    <img src="~/Assets/Client/images/a1.jpg" class="img-responsive" alt="Hair Salon">
                </div>
                <div class="w3ls-info-about">
                    <h4>Bạn sẽ thích tất cả các tiện nghi mà chúng tôi cung cấp!</h4>
                    <p>Đầy đủ tiện nghi và sang trọng nhất. </p>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //about -->
    <!--sevices-->
    <div class="advantages">
        <div class="container">
            <div class="    ">
                <h3 class="title-w3-agileits">Dịch vụ của chúng tôi</h3>
                <div class="advantage-bottom">
                    <div class="col-md-6 advantage-grid left-w3ls wow bounceInLeft" style="align-items:center;text-align:center" >
                        <div style="text-align:center;color:white; margin-top:30px" >
                            <h3>Nhà hàng </h3>
                        </div>
                        <div class=" " style="text-align:center;color:white;align-items:center;display:flex;justify-content:center">
                            <p style="width:350px">
                                Nhà hàng là một không gian ẩm thực tinh tế, nơi khách hàng có thể thưởng thức các món ăn đa dạng, từ ẩm thực truyền thống đến hiện đại, phong cách Á Âu hoặc quốc tế. Với không gian trang trí sang trọng và thoải mái, nhà hàng mang đến trải nghiệm ẩm thực hoàn hảo cho các dịp họp mặt gia đình, hẹn hò, hay tiệc công ty.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 advantage-grid right-w3ls wow zoomIn" >
                        <div class="">
                            <img src="~/Assets/Client/images/nha-hang.jpg" alt=" " class="img-responsive" />
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="advantage-bottom" style="margin:15px">
                    <div class="col-md-6 advantage-grid left-w3ls wow bounceInLeft" data-wow-delay="0.3s">
                        <div class=" ">
                            <img src="~/Assets/Client/images/mau-8-400x246.jpg" alt=" " width="580" class="img-responsive" />
                        </div>
                    </div>
                    <div class="col-md-6 advantage-grid right-w3ls wow zoomIn" data-wow-delay="0.3s">
                        <div style="text-align:center;color:white; margin-top:30px">
                            <h3>Phòng tập gym </h3>
                        </div>
                        <div class=" " style="text-align:center;color:white;align-items:center;display:flex;justify-content:center">
                            <p style="width:350px">
                                Phòng tập gym là không gian hiện đại và năng động, được trang bị đầy đủ các thiết bị tập luyện như máy chạy bộ, máy tập tạ, xe đạp, và dụng cụ thể dục đa năng. Mọi người đến đây để cải thiện sức khỏe, tăng cường cơ bắp, và rèn luyện sự dẻo dai.
                            </p>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>
    <!--//sevices-->
    <!-- Gallery -->
    @*<section class="portfolio-w3ls" id="gallery">
        <h3 class="title-w3-agileits title-black-wthree">Những hình ảnh về khách sạn của chúng tôi</h3>
        <div class="col-md-3 gallery-grid gallery1">
            <a href="~/Assets/Client/images/g1.jpg" class="swipebox">
                <img src="@Url.Content("~/Assets/Client/images/g1.jpg")" class="img-responsive" alt="/">
                <div class="textbox">
                    <h4>HOANG GIA HOTELS</h4>
                    <p><i class="fa fa-picture-o" aria-hidden="true"></i></p>
                </div>
            </a>
        </div>
        <div class="col-md-3 gallery-grid gallery1">
            <a href="~/Assets/Client/images/g2.jpg" class="swipebox">
                <img src="~/Assets/Client/images/g2.jpg" class="img-responsive" alt="/">
                <div class="textbox">
                    <h4>HOANG GIA HOTELS</h4>
                    <p><i class="fa fa-picture-o" aria-hidden="true"></i></p>
                </div>
            </a>
        </div>
        <div class="col-md-3 gallery-grid gallery1">
            <a href="~/Assets/Client/images/g3.jpg" class="swipebox">
                <img src="~/Assets/Client/images/g3.jpg" class="img-responsive" alt="/">
                <div class="textbox">
                    <h4>HOANG GIA HOTELS</h4>
                    <p><i class="fa fa-picture-o" aria-hidden="true"></i></p>
                </div>
            </a>
        </div>
        <div class="col-md-3 gallery-grid gallery1">
            <a href="~/Assets/Client/images/g4.jpg" class="swipebox">
                <img src="~/Assets/Client/images/g4.jpg" class="img-responsive" alt="/">
                <div class="textbox">
                    <h4>HOANG GIA HOTELS</h4>
                    <p><i class="fa fa-picture-o" aria-hidden="true"></i></p>
                </div>
            </a>
        </div>
        <div class="col-md-3 gallery-grid gallery1">
            <a href="~/Assets/Client/images/g5.jpg" class="swipebox">
                <img src="~/Assets/Client/images/g5.jpg" class="img-responsive" alt="/">
                <div class="textbox">
                    <h4>HOANG GIA HOTELS</h4>
                    <p><i class="fa fa-picture-o" aria-hidden="true"></i></p>
                </div>
            </a>
        </div>
        <div class="col-md-3 gallery-grid gallery1">
            <a href="~/Assets/Client/images/g6.jpg" class="swipebox">
                <img src="~/Assets/Client/images/g6.jpg" class="img-responsive" alt="/">
                <div class="textbox">
                    <h4>HOANG GIA HOTELS</h4>
                    <p><i class="fa fa-picture-o" aria-hidden="true"></i></p>
                </div>
            </a>
        </div>
        <div class="col-md-3 gallery-grid gallery1">
            <a href="~/Assets/Client/images/g6.jpg" class="swipebox">
                <img src="~/Assets/Client/images/g7.jpg" class="img-responsive" alt="/">
                <div class="textbox">
                    <h4>HOANG GIA HOTELS</h4>
                    <p><i class="fa fa-picture-o" aria-hidden="true"></i></p>
                </div>
            </a>
        </div>
        <div class="col-md-3 gallery-grid gallery1">
            <a href="~/Assets/Client/images/g6.jpg" class="swipebox">
                <img src="~/Assets/Client/images/g8.jpg" class="img-responsive" alt="/">
                <div class="textbox">
                    <h4>HOANG GIA HOTELS</h4>
                    <p><i class="fa fa-picture-o" aria-hidden="true"></i></p>
                </div>
            </a>
        </div>
        <div class="col-md-3 gallery-grid gallery1">
            <a href="~/Assets/Client/images/g9.jpg" class="swipebox">
                <img src="~/Assets/Client/images/g9.jpg" class="img-responsive" alt="/">
                <div class="textbox">
                    <h4>HOANG GIA HOTELS</h4>
                    <p><i class="fa fa-picture-o" aria-hidden="true"></i></p>
                </div>
            </a>
        </div>
        <div class="col-md-3 gallery-grid gallery1">
            <a href="~/Assets/Client/images/g10.jpg" class="swipebox">
                <img src="~/Assets/Client/images/g10.jpg" class="img-responsive" alt="/">
                <div class="textbox">
                    <h4>HOANG GIA HOTELS</h4>
                    <p><i class="fa fa-picture-o" aria-hidden="true"></i></p>
                </div>
            </a>
        </div>
        <div class="col-md-3 gallery-grid gallery1">
            <a href="~/Assets/Client/images/g4.jpg" class="swipebox">
                <img src="~/Assets/Client/images/g4.jpg" class="img-responsive" alt="/">
                <div class="textbox">
                    <h4>HOANG GIA HOTELS</h4>
                    <p><i class="fa fa-picture-o" aria-hidden="true"></i></p>
                </div>
            </a>
        </div>
        <div class="col-md-3 gallery-grid gallery1">
            <a href="~/Assets/Client/images/g2.jpg" class="swipebox">
                <img src="~/Assets/Client/images/g2.jpg" class="img-responsive" alt="/">
                <div class="textbox">
                    <h4>HOANG GIA HOTELS</h4>
                    <p><i class="fa fa-picture-o" aria-hidden="true"></i></p>
                </div>
            </a>
        </div>
        <div class="clearfix"> </div>
    </section>*@
    <!-- //gallery -->
    <!-- rooms & rates -->
    <div class="plans-section" id="rooms">
        <div class="container">
            <h3 class="title-w3-agileits title-black-wthree">Phòng và giá</h3>
            <div class="priceing-table-main">
                @foreach (var item in Model)
                {<a href="/Hotel/DatPhong?maphong=@item.maP">
                        <div class="col-md-4 price-grid " style="padding-left:5px; padding-bottom:10px">
                            <div class="price-block agile figure" style="width:350px;height:300px;margin-left:-20px">
                                <div class="price-gd-top">
                                    <img src="~/Images/@item.LoaiPhong.hinhAnh" alt="" style="height:200px; width:350px" />

                                </div>
                                <div style="display:flex">
                                    <h4 style="padding:10px">
                                        @item.LoaiPhong.tenLP (@item.maP - @item.tinhTrang ) 
                                        <br style="padding-bottom:2px" />
                                        Đơn giá : @{ string dongia = item.LoaiPhong.donGia.ToString("#,##0");} @dongia VND

                                    </h4>

                                    
                                </div>
                                
                                <div style="display:flex">
                                    <span style="padding:0px 35px 0 55px">
                                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="23" height="23" viewBox="0 0 50 50"> <path d="M 25 1.0507812 C 24.7825 1.0507812 24.565859 1.1197656 24.380859 1.2597656 L 1.3808594 19.210938 C 0.95085938 19.550938 0.8709375 20.179141 1.2109375 20.619141 C 1.5509375 21.049141 2.1791406 21.129062 2.6191406 20.789062 L 4 19.710938 L 4 46 C 4 46.55 4.45 47 5 47 L 19 47 L 19 29 L 31 29 L 31 47 L 45 47 C 45.55 47 46 46.55 46 46 L 46 19.710938 L 47.380859 20.789062 C 47.570859 20.929063 47.78 21 48 21 C 48.3 21 48.589063 20.869141 48.789062 20.619141 C 49.129063 20.179141 49.049141 19.550938 48.619141 19.210938 L 25.619141 1.2597656 C 25.434141 1.1197656 25.2175 1.0507812 25 1.0507812 z M 35 5 L 35 6.0507812 L 41 10.730469 L 41 5 L 35 5 z"></path> </svg>
                                    </span>
                                    <span style="padding:0px 35px">
                                        <img width="25" height="25" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAb0lEQVR4nO2UwQmAQAwEpy6xAbFrfYhtePYRX95DuBPU5B7uwP4WBkISEH9jBHbAPk4Chpo4OUjPbDWxOaeIxBY96q5WAvqH3SK3Ba+utRKHswJLC48FJyOxadRoudA58eqBeGNXzwxM7lrCPILMASzCwY7oVcz8AAAAAElFTkSuQmCC">
                                    </span>
                                    <span style="padding:0px 35px">
                                        <img width="25" height="25" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAACXBIWXMAAAsTAAALEwEAmpwYAAAA8klEQVR4nO3WPUoDQRiA4QdRQT2DjY1eQkHFTi9iJ+gBTCdBz2HQ0hMkYCHoCQIKWvnTBQsjRAJTBJnEgPuNCPvCNN/CPjCzLEO+RTTQxTva2MeMwBZwjUFmXUXixwm5xzaWsImHND+IgrsJ2Po230nzmyj4MwHzI7M5nKX58PkJZquGB2mNdpo572YJ+CUDP5eAizSo4cg6Y/5UEavzV3A7dAv/RU8FtvkxB18WgC9y8FEB+DAHbxSA18ddd/qBaD9dKrLdBcK3k77sRiDcnAQvoxeA9rDih/bwUSE6fNeuKVtDC2+/AF9xjtVp0bo6VfQFJpJM3RWUTMkAAAAASUVORK5CYII=">
                                    </span>
                                </div>
                                @*<div class="price-gd-bottom">
           <div class="price-selet" >
                <p><span>@{ string dongia1 = item.LoaiPhong.donGia.ToString("#,##0");} @dongia</span>VND</p>
               <a href="/Hotel/DatPhong?maphong=@item.maP">ĐẶT NGAY</a>
            </div>
        </div>*@
                            </div>
                        </div>
                    </a>
                }
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!--// rooms & rates -->
    <!-- visitors -->
    <div class="w3l-visitors-agile">
        <div class="container">
            <h3 class="title-w3-agileits title-black-wthree">Những gì khách truy cập khác đã trải nghiệm</h3>
        </div>
        <div class="w3layouts_work_grids">
            <section class="slider">
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <div class="w3layouts_work_grid_left">
                                <img src="~/Assets/Client/images/anhbien_01.jpg" alt=" " class="img-responsive" />
                                <div class="w3layouts_work_grid_left_pos">
                                    <img src="~/Assets/Client/images/edit_01.jpg" alt=" " class="img-responsive" />
                                </div>
                            </div>
                            <div class="w3layouts_work_grid_right">
                                <h4>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    Đáng để đến một lần nữa
                                </h4>
                                <p>
                                    Đồ ăn ngon, nhiều món đa dạng phong Phú
                                    không gian thoáng mát, phòng sạch sẽ, có hồ bơi tiện lợi cho khách hàng
                                </p>
                                <h5>Huỳnh Thị Tâm</h5>
                                <p>Hải Dương, Việt Nam</p>
                            </div>
                            <div class="clearfix"> </div>
                        </li>
                        <li>
                            <div class="w3layouts_work_grid_left">
                                <img src="~/Assets/Client/images/anhbien_01.jpg" alt=" " class="img-responsive" />
                                <div class="w3layouts_work_grid_left_pos">
                                    <img src="~/Assets/Client/images/edit_02.jpg" alt=" " class="img-responsive" />
                                </div>
                            </div>
                            <div class="w3layouts_work_grid_right">
                                <h4>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    Đáng để đến một lần nữa
                                </h4>
                                <p>Phục vụ rất tốt. Các cháu tiếp khách nhẹ nhàng. Buffet ăn ngon, vừa miệng, cảnh đẹp trời xanh, mây trắng cát biển êm . </p>
                                <h5>Dương Khá</h5>
                                <p>Hồ Chí Minh, Việt Nam</p>
                            </div>
                            <div class="clearfix"> </div>
                        </li>
                        <li>
                            <div class="w3layouts_work_grid_left">
                                <img src="~/Assets/Client/images/anhbien_01.jpg" alt=" " class="img-responsive" />
                                <div class="w3layouts_work_grid_left_pos">
                                    <img src="~/Assets/Client/images/edit_03.jpg" alt=" " class="img-responsive" />
                                </div>
                            </div>
                            <div class="w3layouts_work_grid_right">
                                <h4>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    Đáng để đến một lần nữa
                                </h4>
                                <p>
                                    SPhòng view đẹp, nhân viên Ly Nal ễ tân nhiệt tình dịch vụ tốt!
                                    Khu vui chơi phong phú nhiều trò chơi rộng lớn có nhiều cây cối,
                                    đồ ăn phong phú đa dạng, có cơ hội sẽ ghé trở lại một lần nữa, và sẽ giới thiệu với bạn bè
                                </p>
                                <h5>Ngô Thị Đỉnh</h5>
                                <p>Hà Nôi, Việt Nam</p>
                            </div>
                            <div class="clearfix"> </div>
                        </li>
                        <li>
                            <div class="w3layouts_work_grid_left">
                                <img src="~/Assets/Client/images/anhbien_01.jpg" alt=" " class="img-responsive" />
                                <div class="w3layouts_work_grid_left_pos">
                                    <img src="~/Assets/Client/images/edit_04.jpg" alt=" " class="img-responsive" />
                                </div>
                            </div>
                            <div class="w3layouts_work_grid_right">
                                <h4>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    Đáng để đến lần nữa
                                </h4>
                                <p>Dịch vụ tốt, đồ ăn ok, không gian thoải mái </p>
                                <h5>Nguyễn Phương Hải</h5>
                                <p>Đà Nẵng, Việt Nam</p>
                            </div>
                            <div class="clearfix"> </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
    <!-- visitors -->
    <!-- contact -->
    <section class="advantages" id="contact">
        <div class="container">
            <div class="col-lg-6 col-md-6 col-sm-6 contact-w3-agile2" data-aos="flip-left">
                <div class="contact-agileits">
                    <h4 style="color:white">Liên hệ đặt phòng</h4>
                    <h5 style="color:white; font-size:18px">Chỉ cần để lại thông tin liên lạc, chúng tôi sẽ liên hệ với bạn để giúp bạn có một căn phòng cùng những dịch vụ tốt nhất khi đến đây.</h5>
                    <br />
                    @using (Html.BeginForm("Create", "Hotel", FormMethod.Post, new { @name = "sentMessage", @id = "contactForm" }))
                    {
                        @Html.AntiForgeryToken()
                        @*<form method="post" action="/Hotel/Create" name="sentMessage" id="contactForm">*@
                        <div class="control-group form-group">
                            <label style="color:white" class="contact-p1">Họ và tên:</label>
                            <input type="text" class="form-control" name="hoTen" id="name" required>
                            <p class="help-block"></p>
                        </div>

                        <div class="control-group form-group">

                            <label style="color:white" class="contact-p1">Số điện thoại:</label>
                            <input  type="tel" class="form-control" name="sdt" id="phone" required>
                            <p class="help-block"></p>
                        </div>

                        <div class="control-group form-group">
                            <label style="color:white" class="contact-p1">Địa chỉ email:</label>
                            <input type="email" class="form-control" name="email" id="email" required>
                            <p class="help-block"></p>
                        </div>

                        <div class="control-group form-group">
                            <label style="color:white" class="contact-p1">Ngày đến:</label>
                            <input type="datetime-local" id="ngayDen" name="ngayDen" class="form-control">
                            <p class="help-block"></p>
                        </div>

                        <div class="control-group form-group">
                            <label style="color:white" class="contact-p1">Ngày đi:</label>
                            <input type="datetime-local" id="ngayDi" name="ngayDi" class="form-control">
                            <p class="help-block"></p>
                        </div>



                        <input type="submit" name="sub" value="Gửi ngay" class="btn btn-primary">
                    }
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 contact-w3-agile1" data-aos="flip-right">
                <h4 style="color:white">Kết nối với chúng tôi</h4>
                <p style="color:white" class="contact-agile1"><strong>Số điện thoại : </strong>0366201726</p>
                <p style="color:white" class="contact-agile1"><strong>Email :</strong> hoangabc000@gmail.com</p>
                <p style="color:white" class="contact-agile1"><strong>Địa chỉ :</strong>Khách sạn HOANG GIA HOTELS, Cát Bà @*Trường Đại học Công nghiệp Hà Nội, Số 298 Đ. Cầu Diễn, Minh Khai, Bắc Từ Liêm, Hà Nội*@ </p>

                <div class="social-bnr-agileits footer-icons-agileinfo">
                    <ul class="social-icons3" style="color:white">
                        <li><a href="#" class="fa fa-facebook icon-border facebook"> </a></li>
                        <li><a href="#" class="fa fa-twitter icon-border twitter"> </a></li>
                        <li><a href="#" class="fa fa-google-plus icon-border googleplus"> </a></li>

                    </ul>
                </div>

            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 contact-w3-agile1" data-aos="flip-right" style="margin-top:10px">
                <h4 style="color:white">Thông tin của chúng tôi</h4>
                <p class="text-justify" style="color:white">
                   Tại Hoàng Gia Hotels, chúng tôi mang đến cho bạn những phòng nghỉ sang trọng, tiện nghi và ấm cúng, với tầm nhìn hướng ra bãi biển tuyệt đẹp của Cát Bà. Bạn có thể lựa chọn từ nhiều loại phòng khác nhau, phù hợp với nhu cầu và sở thích của bạn. Mỗi phòng đều được trang bị đầy đủ tiện nghi và có ban công riêng, cho bạn cảm giác thoải mái và thư thái. Hãy để chúng tôi chăm sóc bạn trong kỳ nghỉ của bạn tại nơi đây. cuộc sống giữa biển cả, ngắm nhìn những con tàu chở đầy hải sản tấp nập ra vào mỗi ngày. Không chỉ vậy, khách sạn còn được bao quanh bởi cảnh quan núi non hùng vĩ, đem đến không gian yên bình và thư giãn cho những ai muốn tạm rời xa sự ồn ào của phố thị. Khách sạn Hoàng Gia Hotels nổi bật với thiết kế gần gũi, mộc mạc, tạo cảm giác như đang ở nhà. Nhân viên thân thiện, nhiệt tình, luôn sẵn sàng hỗ trợ và chia sẻ những kinh nghiệm du lịch quý báu, giúp du khách có những trải nghiệm khó quên khi đến với Cát Bà.
                </p>

            </div>
            @*<div class="row col-12">
                <div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.4737884515116!2d105.73253187468059!3d21.05373098060181!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31345457e292d5bf%3A0x20ac91c94d74439a!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBDw7RuZyBuZ2hp4buHcCBIw6AgTuG7mWk!5e0!3m2!1svi!2s!4v1699368010473!5m2!1svi!2s" style="border:0;width:100%; height:500px" allowfullscreen="" class=col-12 loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>*@
            <div class="clearfix"></div>
        </div>
    </section>
    <!-- /contact -->
    <div class="copy" style="background-color:black">
        <p style="color:white">© 2024HOANGGIAHOTELS . Thiết kế bởi <a style="color: white" href="#">HOANG GIA HOTELS</a> </p>
    </div>
    <!--/footer -->
    <!-- js -->
    <script type="text/javascript" src="~/Assets/Client/js/jquery-2.1.4.min.js"></script>
    <!-- contact form -->
    <script src="~/Assets/Client/js/jqBootstrapValidation.js"></script>

    <!-- /contact form -->
    <!-- Calendar -->
    <script src="~/Assets/Client/js/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepicker,#datepicker1,#datepicker2,#datepicker3").datepicker();
        });
    </script>
    <!-- //Calendar -->
    <!-- gallery popup -->
    <link rel="stylesheet" href="~/Assets/Client/css/swipebox.css">
    <script src="~/Assets/Client/js/jquery.swipebox.min.js"></script>
    @*<script type="text/javascript">
            jQuery(function ($) {
                $(".swipebox").swipebox();
            });
        </script>*@
    <script type="text/javascript">
        ; (function ($) {

            $('.swipebox').swipebox({
                useCSS: true, // false will force the use of jQuery for animations
                useSVG: true, // false to force the use of png for buttons
                initialIndexOnArray: 0, // which image index to init when a array is passed
                hideCloseButtonOnMobile: false, // true will hide the close button on mobile devices
                removeBarsOnMobile: true, // false will show top bar on mobile devices
                hideBarsDelay: 3000, // delay before hiding bars on desktop
                videoMaxWidth: 1140, // videos max width
                beforeOpen: function () { }, // called before opening
                afterOpen: null, // called after opening
                afterClose: function () { }, // called after closing
                loopAtEnd: false // true will return to the first image after the last image is reached
            });

        })(jQuery);
    </script>
    <!-- //gallery popup -->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="~/Assets/Client/js/move-top.js"></script>
    <script type="text/javascript" src="~/Assets/Client/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <!-- flexSlider -->
    <script defer src="~/Assets/Client/js/jquery.flexslider.js"></script>
    <script type="text/javascript">
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                start: function (slider) {
                    $('body').removeClass('loading');
                }
            });
        });
    </script>
    <!-- //flexSlider -->
    <script src="~/Assets/Client/js/responsiveslides.min.js"></script>
    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 4
            $("#slider4").responsiveSlides({
                auto: true,
                pager: true,
                nav: false,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

        });
    </script>
    <!--search-bar-->
    <script src="~/Assets/Client/js/main.js"></script>
    <!--//search-bar-->
    <!--tabs-->
    <script src="~/Assets/Client/js/easy-responsive-tabs.js"></script>
    <script>
        $(document).ready(function () {
            $('#horizontalTab').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true,   // 100% fit in a container
                closed: 'accordion', // Start closed if in accordion view
                activate: function (event) { // Callback function if tab is switched
                    var $tab = $(this);
                    var $info = $('#tabInfo');
                    var $name = $('span', $info);
                    $name.text($tab.text());
                    $info.show();
                }
            });
            $('#verticalTab').easyResponsiveTabs({
                type: 'vertical',
                width: 'auto',
                fit: true
            });
        });
    </script>
    <!--//tabs-->
    <!-- smooth scrolling -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */
            $().UItoTop({ easingType: 'easeOutQuart' });
        });
    </script>

    <div class="arr-w3ls">
        <a href="#home" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    </div>
    <!-- //smooth scrolling -->
    <script type="text/javascript" src="~/Assets/Client/js/bootstrap-3.1.1.min.js"></script>
</body>
</html>


